<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label class="form-label">Name</label>
                    <input type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">Roll no</label>
                    <input type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">Admission number</label>
                    <input type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">Phone Number</label>
                    <input type="number" name="" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">college</label>
                    <input type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">Mail</label>
                    <input type="email" name="email" id="" class="form-control">

                </div>
                <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">Parent Name</label>
                    <input type="text" class="form-control"> 

                </div>
                <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">Parent phone number</label>
                    <input type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">Username</label>
                    <input type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">Password</label>
                    <input type="password" name="Password" id="" class="form-control">

                </div>
                <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">

                    
                    <button class="btn btn-primary">Submit</button>

                </div>
            </div>
        </div>
    </div>
</div>
